body{
    background-color: rgb(38, 38, 124);
}
.table{
    background-color: white;
    width: 700px;
    height: 1000px;
    margin: 0 auto;
    padding: 15px;
    ul{
        gap: 20px;
    }
    li{
        font-family: sans-serif;
        font-size: 35px;
        border: 1px solid orange;
        padding: 5px;
        list-style: none;
    }
}
input{
    padding: 10px 20px;
    border: 1px solid orange;
}
.BTN{
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    display: flex;
    margin-top: 15px;
    cursor: pointer;
}
.edit{
    padding: 10px 15px;
    background-color: black;
    color: wheat;
    border: 1px solid black;
    cursor: pointer;
}
.delete{
    padding: 10px 15px;
    background-color: red;
    color: white;
    border: 1px solid orange;
    cursor: pointer;
}
